@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #d67d7d;
    font-size: 30px;
    
}

.testimonials{
    max-width: 1440px;
    margin: 100px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.card {
    background-color: #f0f0f0;
    border: black solid 1px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(14, 2, 2, 0.2) 0px 48px 100px 0px;
    margin-bottom: 10px;

}
.card__header{
    display: flex;
    align-items: center;
}

.card__header h3{
    font-size: 40px;
}

.card__header p {
    opacity: 50%;
}

.card__img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.card__lead{
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 2.3rem;
}

.card__quote{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
    margin-top: 20px;
    opacity: 70%;
}

.card--bg-purple{
    background-color: #583dc2;
    color: white;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 10px;
}

.card--bg-gray-blue{
    background-color: #272431;
    color: white;
    
}

.card--bg-black-blue{
    background-color: hsl(210, 60%, 6%);
    color: white;
    
}

.card:nth-of-type(1){
    grid-column: 1 / 3;
}

.card:nth-of-type(4){
    grid-column: 2/4;
    grid-row: 2;
}

.card:nth-of-type(5){
    grid-column: 4/5;
    grid-row: 1/3;
}

@media (max-width: 768px) {
    .testimonials{
        grid-template-columns:  1fr;
        width: 100%;
    }
    .card:nth-of-type(1){
        grid-column: 1;
    }
    
    .card:nth-of-type(4){
        grid-column: 2;
        grid-row: 4;
    }
    
    .card:nth-of-type(5){
        grid-column: 2;
        grid-row: 5;
    }
}



