@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #d3c8c8;
    font-size: 30px;
    
}

.testimonials{
    max-width: 1440px;
    margin: 100px auto;
    padding: 30px;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card{
    background-color: whitesmoke;
    border: black solid 0.5px;
   margin-bottom: 10px;
   padding: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__header{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
   
}   
.card__img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border:purple solid 2px;
}

.card__header h3{
    font-size: 40px;
}

.card__header p{
    opacity: 50%;
}

.card__lead{
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 2.3rem;
    margin-bottom: 10px;
}

.card--bg-gray-blue{
    background-color: #536878;
    color: white;
}

.card--bg-purple{
    background-color: #5c4d8a;
    color: white;
}
.card--bg-blue-black{
    background-color: #2b2d42;
    color: white;
}
.card--bg-blue{
    background-color: #ecf39e;
    color: black
}

.card:nth-of-type(1){
    grid-column: 1 / 3;
    
}

.card:nth-of-type(5){
    grid-column: 2 / 4;
    grid-row: 2;
}

.card:nth-of-type(3){
    grid-column: 4 / 5;
    grid-row: 1/3;
    
}

@media (max-width: 1000px){
    .testimonials{
        grid-template-columns: 1fr;
        width: 100%;
    }

 .card:nth-of-type(1){
    grid-column: 1 ;
}

.card:nth-of-type(5){
    grid-column: 1 ;
    grid-row: 5;
}

.card:nth-of-type(3){
    grid-column: 1;
    grid-row: 3;
    
}
}